WebServices/HelloWorld/HelloWorldClient/Service References/ServiceReference1/HelloWorldService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorldService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9607/HelloWorldService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9607/HelloWorldService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9607/HelloWorldService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HelloWorldWcfHost" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloWorldService_SayHelloTo_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloTo" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldService_SayHelloTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloToResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldService_GetHelloData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloData" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldService_GetHelloData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IHelloWorldService">
    <wsdl:operation name="SayHelloTo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWorldService/SayHelloTo" message="tns:IHelloWorldService_SayHelloTo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloWorldService/SayHelloToResponse" message="tns:IHelloWorldService_SayHelloTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHelloData">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWorldService/GetHelloData" message="tns:IHelloWorldService_GetHelloData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloWorldService/GetHelloDataResponse" message="tns:IHelloWorldService_GetHelloData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHelloWorldService" type="tns:IHelloWorldService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHelloTo">
      <soap:operation soapAction="http://tempuri.org/IHelloWorldService/SayHelloTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHelloData">
      <soap:operation soapAction="http://tempuri.org/IHelloWorldService/GetHelloData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldService">
    <wsdl:port name="BasicHttpBinding_IHelloWorldService" binding="tns:BasicHttpBinding_IHelloWorldService">
      <soap:address location="http://localhost:9607/HelloWorldService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>