WebServices/HelloWorld/HelloWorldClient/Service References/ServiceReference1/HelloWorldService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9607/HelloWorldService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HelloWorldWcfHost" />
  <xs:element name="SayHelloTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloToResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelloData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HelloWorldWcfHost" minOccurs="0" name="helloWorldData" nillable="true" type="q1:HelloWorldData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelloDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HelloWorldWcfHost" minOccurs="0" name="GetHelloDataResult" nillable="true" type="q2:HelloWorldData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>