WebServices/HelloWorld/HelloWorldClient/Service References/HelloWorldService/HelloWorld2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HelloWorldWcfHost" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HelloWorldWcfHost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HelloWorldData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SayHello" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelloWorldData" nillable="true" type="tns:HelloWorldData" />
</xs:schema>